<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
  <h1>首页</h1>
   <a href="/springmvc/hello"> -----固定连接转发到target页面-----</a><br>
   <a th:href="@{/hello}">-----th方式自动填补转发到target页面-----</a><br/>
   <form th:action="@{/form}" method="post">POST表单提交
       <input type="submit" value="提交">
   </form>
  <br>
  <a th:href="@{/params(username='zlk', password=123)}">params注解使用</a><br/>
  <a th:href="@{/params2(username='zlk', password=123)}">header使用</a><br/>
  <a th:href="@{/ant/a1a}">ant使用?</a><br/>
  <a th:href="@{/ant/a1a}">ant使用*</a><br/>
  <a th:href="@{/ant/a/a}">ant使用*</a><br/>
  <a th:href="@{/testPath/1}">restful风格中资源--路径中的占位符</a><br/>


</body>
</html>