<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RESTFUL风格页面</title>
</head>
<body>
<!--GET请求-->
<a th:href="@{/user}">查询所有用户</a><br>
<a th:href="@{/user/1}">根据id查询用户</a><br>

<!--添加 -->
<form th:action="@{/user}" method="post">
    用户 <input type="text" name="username"><br>
    密码 <input type="password" name="password">
    <input type="submit" value="添加">
</form>

<!--表单、ajax 如果method赋值为put、delete是没有用的，需要POST请求+过滤器+隐藏的_method  -->


<!--修改-->
<form th:action="@{/user}" method="post">
    <input type="hidden" name="_method" value="put">
    用户 <input type="text" name="username"><br>
    密码 <input type="password" name="password">
    <input type="submit" value="修改">
</form>

<!--删除todo-->
<!--超链接+绑定事件点击+表单-->
<!--<a th:action="" name="">删除</a>-->
<!--<form th:action="@{/user}" method="post">-->
<!--    <input type="hidden" name="_method" value="delete">-->
<!--&lt;!&ndash;    <input type="submit" value="修改">&ndash;&gt;-->
<!--</form>-->
<br>
</body>
</html>